name: Generate Wave Contribution Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: Taufiqurrahman10
          outputs: |
            dist/github-contribution-grid-snake-wave.svg
          snake_color: "#7ed6df"
          background: transparent
          svg_style: "smooth"

      - name: Push output
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
